*

!.gitignore
!init.fish

!starship.toml

!/git/
!/git/**

!/lazygit/
!/lazygit/**

!/nvim/
!/nvim/**

!/neovide/
!/neovide/**

!/fish/
!/fish/**
/fish/fish_variables
/fish/completions/
/fish/conf.d/api-keys.fish
/fish/conf.d/tools-generated.fish

!/yazi/
!/yazi/**
/yazi/flavors/
/yazi/package.toml

!/karabiner/
!/karabiner/**
/karabiner/automatic_backups

!/mame/
!/mame/mame.ini
!/mame/ui.ini

**/.DS_Store
